<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195117758605-t8ttknk60ot54ac7vku0u6npir1dalvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195117758605-t8ttknk60ot54ac7vku0u6npir1dalvq</string>
	<key>API_KEY</key>
	<string>AIzaSyC4XZGGaMPsKPBTPcKHYVB6lzc2dfT-z7g</string>
	<key>GCM_SENDER_ID</key>
	<string>195117758605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.guseynov.cleanroof-test</string>
	<key>PROJECT_ID</key>
	<string>cleanroof-test</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanroof-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195117758605:ios:7da25a6d2ad57f562acac4</string>
	<key>DATABASE_URL</key>
	<string>https://cleanroof-test.firebaseio.com</string>
</dict>
</plist>